.main-box{
  .tool-table{
    .left-menu{
      .ant-menu-item{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        height: 55px !important;
        justify-content: center;
        width: 100px;
      }
      .ant-menu-title-content{
        line-height: 30px;
      }
    }
  }
}
