@import 'antd/dist/reset.css';
@import 'allotment/dist/style.css';
@import '@arextest/vanilla-jsoneditor/themes/jse-theme-dark.css';

.arex-pane-popup span.anticon {
    margin-right: 8px;
}

#__vconsole {
    font-size: 12px!important;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
}
