@import 'allotment/dist/style.css';

:root {
  --jse-font-size: 14px;
  --jse-padding: 4px 8px;
}

body {
  overflow: hidden;
}

#root,
.ant-app,
.ant-layout,
.ant-layout-content {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #88888844 !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #88888844 !important;
}

::-webkit-scrollbar-corner {
  background-color: transparent !important;
}
