body {
  font: 10.5pt arial;
  color: #4d4d4d;
  line-height: 150%;
  width: 100%;
  padding-left: 10px;
}

code {
  background-color: #f5f5f5;
}

#containerLeft {
  display: inline-block;
  width: 50%;
  height: 500px;
  //margin-right: 10px;
}

#containerRight {
  display: inline-block;
  width: 50%;
  height: 500px;
}
#containerRight .different_element {
  background-color: #acee61;
}
#containerRight .different_element div.jsoneditor-field,
#containerRight .different_element div.jsoneditor-value {
  color: red;
}

#containerLeft .different_element {
  background-color: pink;
}
#containerLeft .different_element div.jsoneditor-field,
#containerLeft .different_element div.jsoneditor-value {
  color: red;
}
.CodeMirror-merge-right{
  left: 0px
}
.CodeMirror-merge-gap{
  left: 47%;
}
.CodeMirror-merge-editor{
  position: absolute;
  right: 0;
}
.CodeMirror-merge-copy{
  transform: rotateY(180deg);
}
