.main-tabs > .ant-tabs-content-holder {
  overflow: auto;
  height: inherit;
  padding: 0 16px;
}

.tooltip-theme1 {
  display: flex;
  padding: 10px;
  border-radius: 3px;
  /*padding-bottom: 0;*/
  background-color: #f5f5f5;
  position: absolute;
}

.tooltip-theme1 .name {
  color: black;
  margin-right: 8px;
}
.tooltip-theme1 .value {
  color: black;
  background-color: #a3a3a3;
  padding: 0 4px;
  border-radius: 2px;
}
