@font-face {
  font-family: "IBMPlexMono"; /* Project id 3197714 */
  src: url('./IBMPlexMono-Regular.woff2') format('woff2')
}

#__vconsole > div.vc-panel > div.vc-toolbar > i:nth-child(2){
  display: none;
}
#__vconsole > div.vc-panel > div.vc-toolbar > i:nth-child(3){
  display: none;
}
#__vc_plug_default > div > div > div.vc-scroller-contents > div.vc-scroller-footer > form:nth-child(1){
  display: none;
}
