body {
  overflow: hidden;
}

#root,
#root > .ant-app,
#root > .ant-app > .ant-layout,
#root > .ant-app > .ant-layout > .ant-layout-content {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #88888844 !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #88888844 !important;
}

::-webkit-scrollbar-corner {
  background-color: transparent !important;
}

/*删除codemirror聚焦时候的边框虚线*/
.cm-focused{
  outline: none !important;
}
