body.light {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}

body.dark {
  background-color: #202020;
  color: #999;
  transition: background-color 0.3s ease;
}

#root {
  height: 100%;
}

// 设置滚动条样式
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #88888844;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}
