.draggable-layout{
  //height: 500px;
  height: 100%;
}

.draggable-layout .draggable-line>div{
  background-color: #eee;
}

.draggable-layout .draggable-line:hover>div{
  background-color: #1890ff;
}

