.collection{
  padding-top: 14px;
  .ellipsis{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 120px;
    overflow: hidden;
  }
  .title-render{
    .wrap{
      display: flex;
      justify-content: space-between;
      font-weight: bolder;
      .title{
        display: flex;
      }
    }
  }

  .ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal{
    display: flex;
  }
  .ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-close{
    display: flex;
  }
  .ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-open{
    display: flex;
  }
  .ant-tree-title{
    flex: 1;
  }
}
