.collection{
  padding-top: 14px;
  .title-render{
    //position: absolute;
    //right: ;
    //display: inline-block;
    //flex: 1;
    .wrap{
      //width: 100px;
      display: flex;
      justify-content: space-between;
      font-weight: bolder;
    }
  }

  .ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal{
    display: flex;
  }
  .ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-close{
    display: flex;
  }
  .ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-open{
    display: flex;
  }
  .ant-tree-title{
    flex: 1;
  }
}
