.collection{
  .collection-header{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    .collection-header-create{
      // font-size: 20px;
      // background-color: red;
      padding: 0 10px;
    }
    .collection-header-search{
      // width: 220px;
      padding: 0 10px;
    }
  }
}
